<app-navbar></app-navbar>
<div class="questionCard">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <!-- <span>Time Elapsed : {{ quizService.displayTimeElapsed()}}</span> -->
        <div class="progress mb-3">
            <div class="progress-bar bg-info" role="progressbar" [style.width.%]="(quizService.qnProgress+1)*10"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card mb-3">
            <span class="card-header text-white bg-info">{{ quizService.qnProgress + 1}}</span>
            <div class="card-body">
                <h5 class="card-title">{{ quizService.questions[quizService.qnProgress].Qn }}</h5>
                <img *ngIf="quizService.questions[quizService.qnProgress].ImageName!= null" class="center"
                    [src]="quizService.baseUrl+'/Images/'+ quizService.questions[quizService.qnProgress].ImageName"
                    style="height: 100px; width: 200px;">
            </div>
            <div class="card-body">
                <ul class="list-group"
                    *ngFor="let option of quizService.questions[quizService.qnProgress].Options; let i = index">
                    <li *ngIf="option != null && option != ''" class="list-group-item list-group-item-action"
                        (click)="Answer(quizService.questions[quizService.qnProgress].QnID, i)">
                        {{ option }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>