<app-navbar></app-navbar>
<div class="content-container pt-3">
    <div class="text-end mb-3" style="margin-right: 1.5em;">
        <button class="btn btn-success" (click)="newButtonClick()">
            <i class="material-icons mr-1" style="font-size:16px; vertical-align: middle;">add</i>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" *ngIf="categories && categories.length">
            <thead>
                <tr class="header">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td>{{ category.Name }}</td>
                    <td>{{ category.Description }}</td>
                    <td>
                        <button class="btn btn-primary me-1" (click)="editButtonClick(category.CategoryId)">
                            <i class="material-icons" style="font-size:16px; vertical-align: middle;">edit</i>
                        </button>
                        <button class="btn btn-danger" mwlConfirmationPopover popoverTitle='Confirm Delete' popoverMessage='Are you sure you want to delete?'
                        placement='top left' (confirm)="deleteButtonClick(category.CategoryId)">
                            <i class="material-icons" style="font-size:16px; vertical-align: middle;">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>