<app-navbar></app-navbar>
<div class="content-container pt-3">
    <div class="text-end mb-3" style="margin-right: 1.5em;">
        <button class="btn btn-success" (click)="newButtonClick()">
            <i class="material-icons mr-1" style="font-size:16px; vertical-align: middle;">add</i>
        </button>
    </div>
    <div *ngIf="noQuestions" class="text-center">
        <h3>No questions in the database!!</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" *ngIf="questions && questions.length">
            <thead>
                <tr class="header">
                    <th>Question</th>
                    <th>Options</th>
                    <th>Comments</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let question of questions">
                    <td>{{ question.Qn }}</td>
                    <td><span [innerHTML]="getOptions(question)"></span></td>
                    <td>{{ question.Comment }}</td>
                    <td>
                        <button class="btn btn-primary me-1" (click)="editButtonClick(question.QnID)">
                            <i class="material-icons" style="font-size:16px; vertical-align: middle;">edit</i>
                        </button>
                        <button class="btn btn-danger" mwlConfirmationPopover popoverTitle='Confirm Delete' popoverMessage='Are you sure you want to delete?'
                        placement='top left' (confirm)="deleteButtonClick(question.QnID)" (cancel)="cancelClicked = true">
                            <i class="material-icons" style="font-size:16px; vertical-align: middle;">delete</i>
                        </button>
                </tr>
            </tbody>
        </table>
    </div>
</div>